[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

dj-database-url = "==0.4.2"
django = "==1.11"
django-widget-tweaks = "==1.4.1"
gunicorn = "==19.7.1"
pytz = "==2017.3"
whitenoise = "*"


[dev-packages]

